.confirmation-container {
    box-shadow: rgba(0, 0, 0, 0.719) 0px 4px 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 16px;
}


.confirmation-section {
    background-image: url("../assets/restaurant.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.confirmation-container h2 {
    text-align: center;
}

#check-mark {
    width: 30%;
}

#exit-home {
    width: 100%;
    padding: 3.7%;
}

.check-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {
    .confirmation-section {
        padding: 60px 5%;
        padding-bottom: 50vh;
    }

    .confirmation-container {
        padding: 20px;
    }
}

@media (min-width: 700px) {
    .confirmation-section {
        padding: 60px 15%;
        padding-bottom: 50vh;
    }
}

@media (min-width: 1000px) {
    .confirmation-section {
        padding: 60px 25%;
        padding-bottom: 50vh;
    }
}

@media (min-width: 1000px) {
    .confirmation-section {
        padding: 60px 25%;
        padding-bottom: 50vh;
    }
}

@media (min-width: 1370px) {
    .confirmation-section {
        padding: 60px 30%;
        padding-bottom: 50vh;
    }
}

@media (min-width: 1750px) {
    .confirmation-section {
        padding: 60px 35%;
        padding-bottom: 50vh;
    }
}