.banner-section {
    background-color: var(--main-green-color);
}

.intro-section h1 {
    color: var(--main-yellow-color);
}

.intro-section h2, .intro-section p {
    color: var(--first-highlight-color);
}

.landing-image img {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.165) 0px 4px 10px;
}

@media (min-width: 320px) {
    .banner-section {
        display: flex;
        flex-direction: column;
    }
    .landing-image {
        display: none;
    }
    .intro-section {
        padding: 20px 5%;
    }
    #cta-button {
        width: 100%;
        padding: 3.7%;
        margin-top: 5%;
    }
}

@media (min-width: 700px) {
    .banner-section {
        padding: 20px 0px;
    }
    #cta-button {
        width: 50%;
        padding: 1.85%;
    }
}

@media (min-width: 878px) {
    .banner-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px 5%;
        gap: 50px;
    }
    .intro-section {
        padding: 20px 0%;
    }

    .landing-image {
        display: block;
    }
    .landing-image img {
        width: 100%;
    }
    .intro-section div{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #cta-button {
        margin-top: auto;
        width: 100%;
        padding: 3.7%;
    }
}

@media (min-width: 1150px) {
    .banner-section {
        padding: 30px 10%;
        gap: 200px;
    }

    #cta-button {
        margin-top: auto;
        width: 100%;
    }
}

@media (min-width: 1370px) {
    .banner-section {
        gap: 350px;
    }

    .intro-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .intro-section div{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #cta-button {
        margin-top: auto;
    }
}

@media (min-width: 1750px) {
    .banner-section{
        padding: 30px 17%;
    }
    .intro-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


