.menu-card {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 4px 12px;
    background-color: var(--first-highlight-color);
    transition: transform 0.3s ease-in-out;
}

.menu-card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.menu-card:active {
    transform: scale(1.01);
}

.dish-info button {
    padding: 2%;
}

.dish-image {
    padding: 5px;
    height: 80%;
    overflow: hidden;
}

.menu-card img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.dish-info div {
    display: flex;
    justify-content: space-between;
}

.dish-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#price-tag {
    color: var(--first-secondary-color);
}


@media (min-width: 320px) {
    .cards-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 30px 5%;
    }
}

@media (min-width: 700px) {
    .cards-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .cards-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1150px) {
    .cards-section {
        padding: 30px 10%;
    }
}

@media (min-width: 1750px) {
    .cards-section {
        padding: 30px 17%;
    }
}