.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.300) 0px 4px 12px;
}

.navbar li {
    display: inline-block;
}

.nav-link {
    display: block;
}

.menu-icon {
    cursor: pointer;
}

.nav-link.active {
    color: var(--first-secondary-color);
    border-bottom: 2px solid var(--first-secondary-color);
}

.mobile-menu {
    background-color: var(--main-yellow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.mobile-menu.open {
    max-height: 500px;
}

.mobile-menu ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav-link {
    display: block;
    padding: 2% 100%;
    list-style: none;
    color: var(--main-green-color);
}

.mobile-nav-link.active {
    display: block;
    padding: 2% 100%;
    list-style: none;
    background-color: #333333;
    color: var(--main-yellow-color);
}

.nav-link:hover {
    color: var(--first-secondary-color);
    transition: 0.2s color ease-in-out;
    cursor: pointer;
}

.mobile-menu li {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid white;
}

.mobile-nav-link:active {
    background-color: #333333;
    color: var(--main-yellow-color);
}

.menu-icon, .menu-icon:hover {
    background-color: transparent;
}


@media (min-width: 320px) {
    .navbar ul {
        display: none;
    }
    .logo img{
        width: 130%;
    }
    .navbar {
        padding: 10px 5%;
    }
}

@media (min-width: 750px) {
    .navbar {
        flex-direction: column;
    }
    .navbar ul{
        display: block;
    }
    .menu-icon {
        display: none;
    }
    .nav-link {
        padding: 1em;
    }
}

@media (min-width: 922px) {
    .nav-link{
        padding-right: 2em;
        padding-left: 2em;
    }
}

@media (min-width: 1200px) {
    .nav-link{
        padding: 1em
    }

    .navbar {
        flex-direction: row;
        padding: 10px 10%;
    }
}

@media (min-width: 1400px) {
    .nav-link {
        padding: 1em;
    }
    .navbar {
        flex-direction: row;
    }
    .logo img{
        width: 150%;
    }
}

@media (min-width: 1750px) {
    .navbar {
        padding: 10px 17%;
    }
}



