.review-container {
    background-color: var(--first-highlight-color);
    border-radius: 16px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.451) 0px 4px 12px;
}

.review-container img {
    width: 100%;
    border-radius: 50%;
}

.review-stars {
    display: flex;
    justify-content: center;
}

.review-stars img {
    width: 50%;
}

.person-heading {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.review-section {
    background-color: var(--main-green-color);
}

.review-section h2 {
    padding-bottom: 30px;
    text-align: center;
    color: var(--main-yellow-color);
}

.person-heading p {
    font-weight: bold;
}

@media (min-width: 320px) {
    .review-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .review-section {
        padding: 30px 5%;
        padding-bottom: 60px;
    }
}

@media (min-width: 600px) {
    .review-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .review-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1150px) {
    .review-section {
        padding: 30px 10%;
        padding-bottom: 60px;
    }
}

@media (min-width: 1750px) {
    .review-section {
        padding: 30px 17%;
        padding-bottom: 60px;
    }
}


