* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.953);

}

@media (min-width: 320px) {
    main {
        padding-top: 76px;
    }
}

@media (min-width: 878px) {
    main {
        padding-top: 134px;
    }
}

@media (min-width: 1370px) {
    main {
        padding-top: 85px;
    }
}