* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

@media (min-width: 320px) {
    .pusher {
        height: 77px;
    }
}

@media (min-width: 750px) {
    .pusher {
        height: 117px;
    }
}

@media (min-width: 1200px) {
    .pusher {
        height: 78px;
    }
}

