@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

main > h1 {
    padding: 30px 20%;
    font-family: "Markazi Text", serif;
    font-size: 53px;
}