@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

.menu-card {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.300) 0px 4px 12px;
}

.dish-info > h2, p {
    font-family: "Karla", sans-serif;
}

.dish-info > h2 {
    font-size: 20px;
}

.dish-info div > h2 {
    font-family: "Markazi Text", serif;
    font-size: 30px;
}

.dish-info > p {
    font-size: 22px;
}

.dish-image {
    padding: 5px;
    height: 80%;
    overflow: hidden;
}

.menu-card img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.dish-info div {
    display: flex;
    justify-content: space-between;
}

.dish-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


@media (min-width: 320px) {
    .cards-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 30px 5%;
    }
}

@media (min-width: 700px) {
    .cards-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .cards-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1150px) {
    .cards-section {
        /* grid-template-columns: 1fr 1fr 1fr; */
        padding: 30px 10%;
    }
}

@media (min-width: 1750px) {
    .cards-section {
        padding: 30px 17%;
    }
}