@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

li, a {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.300) 0px 4px 12px;
}

.navbar li {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
}

.menu-icon {
    cursor: pointer;
}

.mobile-menu {
    background-color: #F4CE14;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.mobile-menu.open {
    max-height: 500px;
}

.mobile-menu ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-menu ul li {
    padding: 0.2em;
    list-style: none;
}

.mobile-menu a {
    color: #495e57;
}

.navbar li:hover {
    background-color: #495e57;
    border-radius: 16px;
    transition: 0.4s background-color ease-in-out;
}

.navbar li:hover a {
    color: white;
}

.mobile-menu li {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid white;
}

.mobile-menu li:active {
    background-color: white;
}

@media (min-width: 320px) {
    .navbar ul {
        display: none;
    }
    .logo img{
        width: 130%;
    }
    .navbar {
        padding: 10px 5%;
    }
}

@media (min-width: 750px) {
    .navbar {
        flex-direction: column;
    }
    .navbar ul{
        display: block;
    }
    .menu-icon {
        display: none;
    }

    .navbar ul li {
        padding: 1em 1em;
    }
}

@media (min-width: 910px) {
    .navbar ul li{
        padding-right: 2em;
        padding-left: 2em;
    }
}

@media (min-width: 1200px) {
    .navbar ul li{
        padding-right: 1em
    }

    .navbar {
        flex-direction: row;
        padding: 10px 10%;
    }
}

@media (min-width: 1400px) {
    .navbar ul li {
        padding: 1em;
    }
    .navbar {
        flex-direction: row;
    }
    .logo img{
        width: 150%;
    }
    .navbar {
        padding: 10px 11%;
    }
}

@media (min-width: 1750px) {
    .navbar {
        padding: 10px 17%;
    }
}



