@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');


.review-container {
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.451) 0px 4px 12px;
}

.review-container img {
    width: 100%;
    border-radius: 50%;
}

.person-heading {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.person-heading p {
    font-weight: bold;
}

.review-section {
    background-color: #495e57;
}

.review-section h1 {
    color: #F4CE14;
    padding-bottom: 30px;
    text-align: center;
    font-size: 53px;
    font-family: "Markazi Text", serif;
}

@media (min-width: 320px) {
    .review-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .review-section {
        padding: 30px 5%;
    }
}

@media (min-width: 600px) {
    .review-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .review-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1150px) {
    /* .review-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } */

    .review-section {
        padding: 30px 10%;
    }
}

@media (min-width: 1750px) {
    .review-section {
        padding: 30px 17%;
    }
}


